
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Raleway&family=Source+Sans+Pro:wght@300&display=swap');



*{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62,5;
}

body{
	background-image: url(../img/bubble2.png);
  	min-height: 100vh;
	}

header img{
	width:100%;

}

p{
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3{
	font-family: 'Inconsolata', monospace;
}

/*nav{
	padding: 2px 2px ;
	background-color: rgba(165,157,147, .5)
}
	nav ul{
		list-style: none;

	}

		nav ul li{
			margin: 2px;
		}
			nav ul li a{
			text-decoration: none;
			font-size: 1.5rem;
			color: #372E2E;
			font-family: 'Oxygen', sans-serif;
			
		}

		nav ul li a:hover{
			color: orange;
			font-weight: 500;
		}
*/
			


/*selectores de clase */
.headerStickers {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(to top,rebeccapurple, hotpink);
  padding: 2rem 0;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.linkList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
}

.linkList a {
  color: black;
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300%;
  font-size: 1.5rem;


}
nav ul li a:hover{
	color: darkorange;
	cursor: pointer;
}


.nav-font{
	font-family: 'Raleway', sans-serif;
}

.logoCompany {
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.title {
  padding: 3rem 0 2rem;
}

.textBebas{
	font-family: 'Bebas Neue', cursive;
	margin: 0;
	text-align: center;
}

@media only screen and (min-width: 768px) {
  .headerStickers {
    padding: 1rem;
  }
  .navWrapper {
    flex-direction: row;
  }

  .linkList {
    flex-direction: row;
  }
}

/*footer*/

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f29a32;
}

.footer a {
  background-color: #f29a32;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
  }
}

.text-g{
	color: grey;
}
.text-center{
	text-align: center;
}

.int{
	line-height: 2rem;
}

.border{
	border: deeppink double; 2px;
}

.mar{
	margin: 50px;
}
.text-orange{
	color: #F29A32;
}
.textLeft{
	text-align: left;
}

.greyText{
	color: #877E7E;
}

.textXxl{
	font-size: 3rem;
}

.inlineBlcock{
	display: inline-block;
}

.textXl{
	font-size: 2rem;
}

.textMd{
	font-size: 1.5rem;
}

.textPurple{
	color: #6D15B1;
}



.textOx{
	font-family: 'Oxygen', sans-serif;
}

.textSign{
	font-family: 'Signika Negative', sans-serif;
}

.flex{
	display: flex;
}

.flexFlow{
	flex-flow: row row-reverse wrap;
}
.margin{
	margin: 200px;
}
.padding{
	padding: 50px;
}

.jus{
	justify-content: space-between;
}

.even{
	justify-content: space-evenly;
}

.align-items{
	align-items: center;
}

.reverse{
	flex-direction: row-reverse;
}

.headerIndex{
	width: 100%;
}

.linealGradient{
	background: linear-gradient(to top,rebeccapurple, hotpink);
}

.transform:hover{
	transform: translate(5px);
	cursor: context-menu;
}

#botonera img{
	width: 150px;
}

#footer img{
	width: 75px;
}

/*BEM*/

.sucursales__mapa{
	width: 70%;
	height: auto;
	margin: 80px auto;
	padding: 30px;
	border-top: 6px olivedrab double;
}

.form__contacto{
	width: 70%;
	height: auto;
	margin: 80px auto;
	padding: 20px;

}

.article__sticker{
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.st__st{
	text-align: center;
	padding: 5px;
	font-family:'Oxygen', sans-serif;
	color: grey;
}

.precio{
	text-align: center;
	padding: 5px;
	font-family:'Oxygen', sans-serif;
	color: grey;
	font-weight: 600;
}

.contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:repeat(, auto);
	justify-content: center;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}

.figureTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
}

.imageTag {
  width: 100%;
  max-width: 110px;
}

.map__direction{
	color: mediumpurple;
	font-family: 'Signika Negative', sans-serif;
	font-size: 2rem;
	text-align: center;

}


@media only screen and (min-width: 768px) {
	.wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em 4rem;
  }
	
}