<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>stickpro</title>
	<link rel="shorcut icon" href="../img/logos/stick2.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
   <header class="headerStickers">
      <nav class="navWrapper">
        <div class="logoCompany">
          <div class="logoWrapper">
            <a href="../index.html">
              <img src="../img/logos/stick20.png" alt="logo stickpro" />
            </a>
          </div>
        </div>
        <ul class="linkList">
          <li class="listElement">
            <a href="../views/stickers.html">stickers</a>
          </li>
          <li class="listElement">
            <a href="../views/posters.html">posters</a>
          </li>
          <li class="listElement">
            <a href="../index.html#sucursales">sucursales</a>
          </li>
          <li class="listElement">
            <a href="../views/quienes somos.html">quienes somos</a>
          </li>
          <li class="listElement">
            <a href="../index.html#contacto">contacto</a>
          </li>
          <li class="listElement">
            <a href="../views/preguntas frecuentes.html"
              >preguntas frecuentes</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section>
    	<h1 class="text-center textBebas textXxl text-orange padding">Posters</h1>
    	<p class="textOx textMd greyText padding text-center">los posters de tus bandas o pelis favoritas los podes encontrar aca</p>
    </section>
    <main>
    	<article class=" contenedor flex jus article__sticker">
    		<img src="../img/posters/queen1.jpg" alt="poster queen">
    			<img src="../img/posters/queen2.jpg" alt="poster queen">
    			<img src="../img/posters/lebron1.jpg" alt="poster harry">   
    			<img src="../img/posters/lana2.jpg" alt="poster lana del rey">
    	</article>
	</main>
    <footer class="padding">
		<a href="https:/facebook.com">
			<img src="../img/logos/face.png">
		</a>
		<a href="https:/instagram.com">
			<img src="../img/logos/igg.png">
		</a>
	</footer>
</body>
</html>	
	