<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>stickpro</title>
	<link rel="shorcut icon" href="../img/logos/stick2.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <nav>
    	<a href="../index.html">
    		<img src="../img/logos/stick20.png" alt="logo stickpro">
    	</a>
    	<ul class="flex jus align-center flexFlow">
    		<li><a href="../views/stickers.html">stickers</a></li>
    		<li><a href="../views/posters.html">posters</a></li>
    		<li><a href="../index.html#sucursales">sucursales</a></li>
    		<li><a href="../views/quienes somos.html">quienes somos</a></li>
    		<li><a href="../index.html#contacto">contacto</a></li>
    		<li><a href="../views/preguntas frecuentes.html">preguntas frecuentes</a></li>

    	</ul>
	</nav>
	<div>
		<header>
			<h1 class="text-center textXxl padding text-orange">PREGUNTAS FRECUENTES</h1>
		</header>
			<main class="textLeft mar int textMd greyText">
				<p class="textPurple textBebas">¿Hacen stickers personalizados?
			si!! el minimo son de 80 (medio metro cuadrado)
				</p>
					<ul>
						<li>El <b>vinilo tornasolado</b>, transparente y holográficos vale $8000 el metro ($4500 medio metro)</li>
						<li>El <b>vinilo fotoluminiscente</b> vale $9000 el metro ($6000 medio metro)</li>
						<li>El <b>vinilo blanco</b> vale $5000 el metro ($3000 medio metro)</li>
					</ul>
				<p>Entran aprox 150 stickers individuales de 6,5cm <b>(tamaño mínimo que trabajo)</b> o 28 planchitas con troquel de 20x15 cm</p>
			</main>	
	</div>
	<footer class="padding">
		<a href="https:/facebook.com">
			<img src="../img/logos/face.png">
		</a>
		<a href="https:/instagram.com">
			<img src="../img/logos/igg.png">
		</a>
	</footer>
</body>
</html>	