<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>stickpro</title>
	<link rel="shorcut icon" href="../img/logos/stick2.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-light linealGradient" id="botonera">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="../index.html">
		    	<img src="../img/logos/stick20.png">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active nav-font fs-4" aria-current="page" href="../views/quienes somos.html">Quienes Somos</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active fs-4" href="../views/preguntas frecuentes.html">Preguntas Frecuentes</a>
		        </li>
		         <li class="nav-item">
		          <a class="nav-link active fs-4" href="../index.html#sucursales">Sucursales</a>
		        </li>
		         <li class="nav-item">
		          <a class="nav-link active fs-4" href="../index.html#contacto">Contacto</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle active fs-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		           Productos
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="../views/stickers.html">stickers</a></li>
		            <li><a class="dropdown-item" href="../views/posters.html">posters</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
    </header>
	<div >
		<section>
			<h1 class="text-center textXxl padding text-orange">PREGUNTAS FRECUENTES</h1>
		</section>
			<main class="textLeft mar int textMd greyText">
				<p class="textPurple textBebas">¿Hacen stickers personalizados?
			si!! el minimo son de 80 (medio metro cuadrado)
				</p>
					<ul>
						<li>El <b>vinilo tornasolado</b>, transparente y holográficos vale $8000 el metro ($4500 medio metro)</li>
						<li>El <b>vinilo fotoluminiscente</b> vale $9000 el metro ($6000 medio metro)</li>
						<li>El <b>vinilo blanco</b> vale $5000 el metro ($3000 medio metro)</li>
					</ul>
				<p>Entran aprox 150 stickers individuales de 6,5cm <b>(tamaño mínimo que trabajo)</b> o 28 planchitas con troquel de 20x15 cm</p>
			</main>	
	</div>
	<footer class="bg-secondary fs-4 py-3 text-center" id="footer" >
		<div class="container-fluid">
		<p>|GRACIAS POR VISITAR NUESTRA PAGINA|</p>
		<a href="https:/instagram.com">
			<img src="../img/logos/ig8.png">
		</a>
		<a href="https:/facebook.com">
			<img src="../img/logos/face8.png">
		</a>
		<a href="../views/preguntas frecuentes.html">
			<img src="../img/logos/info8.png">
		</a>

		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>	