<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>stickpro</title>
	<link rel="shorcut icon" href="../img/logos/stick2.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<div class="wrapp nav">
	<nav >
    	<a href="../index.html">
    		<img src="../img/logos/stick20.png" alt="logo stickpro">
    	</a>
    	<ul class="flex jus align-center flexFlow">
    		<li><a href="../views/stickers.html">stickers</a></li>
    		<li><a href="../views/posters.html">posters</a></li>
    		<li><a href="../index.html#sucursales">sucursales</a></li>
    		<li><a href="../views/quienes somos.html">quienes somos</a></li>
    		<li><a href="../index.html#contacto">contacto</a></li>
    		<li><a href="../views/preguntas frecuentes.html">preguntas frecuentes</a></li>
    	</ul>
	</nav>
</div>