<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>stickpro</title>
	<link rel="shorcut icon" href="../img/logos/stick2.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <nav>
    	<a href="../index.html">
    		<img src="../img/logos/stick20.png" alt="logo stickpro">
    	</a>
    	<ul class="flex jus align-center flexFlow">
    		<li><a href="../views/stickers.html">stickers</a></li>
    		<li><a href="../views/posters.html">posters</a></li>
    		<li><a href="../index.html#sucursales">sucursales</a></li>
    		<li><a href="../views/quienes somos.html">quienes somos</a></li>
    		<li><a href="../index.html#contacto">contacto</a></li>
    		<li><a href="../views/preguntas frecuentes.html">preguntas frecuentes</a></li>
    	</ul>
	</nav>
	<header>
		<h1 class="text-center text-orange textXxl padding textBebas">
		stickers
		</h1>
			<p class="textOx textMd greyText padding text-center">
			Nuestos stickers son los mejores del mercado debido a su alta resistencia al calor, al frio, a rayaduras y al agua.
			</p>
		
	</header>
	<main id="productos">
		
		<div class="contenedor2">
			<section >
				<figure>
					<img src="../img/stickers/rayo.png" alt="sticker rayo">
					<figcaption class="st__st">Rayo Lila</figcaption>
					<p class="precio">$200</p>
				</figure>

				<figure>
					<img src="../img/stickers/pasamontañas.png" alt="sticker pasamontañas">
					<figcaption class="st__st">Pasamontañas</figcaption>
					<p class="precio">$200</p>
				</figure>

				<figure>
					<img src="../img/stickers/bart.png" alt="sticker bart">
					<figcaption class="st__st">Bart Cool</figcaption>
					<p class="precio">$200</p>
				</figure>

				<figure>
					<img src="../img/stickers/lisa.png" alt="sticker lisa">
					<figcaption class="st__st">Morning Lisa</figcaption>
					<p class="precio">$200</p>
				</figure>

				<figure>
					<img src="../img/stickers/harry.png " alt="sticker harry potter">
					<figcaption class="st__st">Expectro Patronum</figcaption>
					<p class="precio">$200</p>
				</figure>

				<figure>
					<img src="../img/stickers/smile.png" alt="sticker smile face">
					<figcaption class="st__st">Melting Smile</figcaption>
					<p class="precio">$200</p> 
				</figure>
  			</div>

		</section>
	</main>
	<footer class="padding">
		<a href="https:/facebook.com">
			<img src="../img/logos/face.png">
		</a>
		<a href="https:/instagram.com">
			<img src="../img/logos/igg.png">
		</a>
	</footer>
</body>
</html>